/*TAG SELECTORS*/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  /*Represent code with monospace*/
  /*Represent normal text with sans-serif or serif*/
  /*Rarely use cursive or fantasy because of poor readability*/
}

/*hr {
  border-style: none;
  border-style: dotted none none;
  border-color: grey;
  border-width: 8px;
  width: 5%;
}*/
h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

/*CLASS SELECTORS*/
.topContainer {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middleContainer {}

.bottomContainer {}

.web {
  text-decoration: underline;
}

.topCloud {
  position: absolute;
  right: 20%;
  top: 30%x;
}

.bottomCloud {
  position: absolute;
  left: 20%;
  bottom: 30%px;
}

.circular {
  border-radius: 100px;
}

/*ID SELECTORS*/
